.comment-container {
    margin: 15px auto !important;
    width: 345px; 
    background-color: white;
    border-radius: 10px !important;
    display: flex;

    &.comment-container:first-child {
        margin-top: 0px !important;
    }

    &.comment-container:last-child {
        margin-bottom: 0 !important;
    }

    .comment-wrapper {
        display: flex;
        flex-direction: column;
    }

    .comment-column {
        .picture-profile {
            border-radius: 50%;
        }

        .ant-image-mask {
            display: none;
        }

        .created-time {
            font-weight: 400;
            color: hsl(211, 10%, 45%);
        }

        .comment-description {
            margin: 15px 0;
            color: hsl(211, 10%, 45%);
        }

        .tag {
            border:none;
            border-radius: 10px;
            background-color: hsl(228, 33%, 97%);
            width: 85px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            .ant-row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                h5 {
                    margin: 0;
                    font-size: 14px;
                    color: hsl(238, 40%, 52%);
                    font-weight: 500;
                }
            }

            img {
                cursor: pointer;
                
                &:hover {
                    filter: brightness(0) saturate(100%) invert(35%) sepia(15%) saturate(2836%) hue-rotate(201deg) brightness(96%) contrast(85%);
                }
            }
        }
    }

    .reply {
        float: right;
        position: absolute;
        bottom: 25px;
        right: 25px;
        height: max-content;
        cursor: pointer;

        img {
            width: 1em;
            height: 1em;
            margin: 7px 7px 0 0;
        }

        h5 {
            color: hsl(238, 40%, 52%);
            font-weight: 500;
        }

        &:active {
            opacity: 0.4;
        }
    }

}

@media (min-width: 1440px) {
    .comment-container {
        width: 650px;

        .ant-card-body {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .comment-description {
                margin-bottom: 0;
            }
        }

        .comment-column {
            margin-right: 15px;
            
            .tag {
                width: 35px;
                height: 90px;

                .ant-row {
                    height: 90%;
                    flex-direction: column;
                }
            }
        }

        .reply {
            top: 25px;
        }
    }
}